.App {
  text-align: center;
  background-color: bisque;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-decoration: none;

}

li {
  text-align: center;
  padding: 20px 25px;
}


